<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="./assets/css/signup.css"/>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Javascript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="./assets/js/password.js"></script>
        <title>Change Password</title>
    </head>
    <body>
        <div id="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">	
                    <h1> Bulblibrary Change Password </h1>	
                    <br>
                    <div class="form-group">
                        <label><text>Current Password</text></label>
                        <input type="password" placeholder="Current Password" id="current-password" required>                    
                    </div>
                    <div class="form-group">
                        <label><text>New Password</text></label>
                        <input type="password" placeholder="New Password" id="new-password" required>                    
                    </div>
                    <div class="form-group">
                        <label><text>Confirm Password</text></label>
                        <input type="password" placeholder="Confirm Password" id="confirm-password" required>                    
                    </div>     
                    <div class="row">       
                        <div class="form-group col-lg-6">
                            <a class="btn btn-primary btn-lg btn-block" id="submit-btn"> Change Password </a>									
                        </div>
                        <div class="form-group col-lg-6">
                            <a href="/" class="btn btn-primary btn-lg btn-block"> Back </a>													
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>