@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";

/* Banner */
#banner {
	padding: 12em 0 10em 0;
	background-image: url('../../images/banner.jpg');
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	border-top: 0.5em solid #5385c1;
}

#search-title {
	font-size: 22px;
	font-weight: bold;
}

#search-section{
	margin-top: 150px;
	margin-bottom: 150px;
}

.custom-star-inactive {
	color : grey;
	opacity : 0.5;
}

.custom-star-active{
	color :black;
}
